body {
  padding-left: 4em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: rgb(#003366);
  background-color:  #00ffe1}
h2 {
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  color: rgb(43, 53, 161);
  }
  img{
	  position:absolute;
	  left:60%;
	  top:150px;
	  transform:translateX(-50%);
	  
	  